<% if user_signed_in? && @user == current_user %>
    <h1>マイページ</h1>
<% else %>
    <h1><%= @user.name %>さんのページ</h1><br>
<% end %>

<% if user_signed_in? && @user == current_user %>
    <%= link_to "プロフィール編集", edit_user_path(@user) %><br>
<% end %>

<% if current_user != @user %>
    <% if current_user.following?(@user) %>
    <%= link_to 'フォロー外す', user_relationships_path(@user.id), method: :delete, class: "btn-sm btn-danger" %>
    <% else %>
    <%= link_to 'フォローする', user_relationships_path(@user.id), method: :POST, class:"btn-sm btn-success" %>
    <% end %>
<% end %>
<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg' %><br>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>プロフィール : <%= @user.profile %></p>
<div class="d-flex">
    <%= link_to follows_user_path(@user) do %>
    <h6>フォロー<%= @following_users.count %></h6>
    <% end %>&nbsp;&nbsp;
    <%= link_to followers_user_path(@user) do %>
    <h6>フォロワー<%= @follower_users.count %></h6>
    <% end %>
</div>

<h2>これまでのレビュー</h2>
<table>
    <tr>
        <th>レビュー</th>
    </tr>
    <% @posts.each do |post| %>
        <tr>
            <td><%= post.review %></td>
        </tr>
    <% end %>
</table>
