<h1>Books#ランキング</h1>
<div id='book_list'>
    <% @books.each do |book| %>
        <div class="list">
            <%= link_to (image_tag(book.image_url)), book.url %><br>
            <%= link_to "詳細へ", book_path(isbn: book.isbn) %><br>
            <%= book.title %><br>
            <%= book.author %><br>  
            <%= book.isbn %><br> <br>
        </div>
    <% end %>  
</div>