<h1>レビュー一覧</h1>

<table>
    <tr>
        <th>書籍画像</th> 
        <th>タイトル</th>
        <th>アイコン</th>
        <th>ユーザー</th>
        <th>レビュー</th>      
    </tr>
    <%
=begin
%>
    <tr>
        <td><%= @post.user.name %></td>
        <td><%= @post.review %></td>
        <td><%= @post.isbn %></td>
        <%# <td><%= @post.book.title %></td> %>
    </tr>
    <%　
=end 
%>


    <% @posts.each do |post| %>
        <tr>
            <td><%= link_to (image_tag(post.book.image_url)), post.book.url %></td>
            <td><%= post.book.title %></td>
            <td><%= attachment_image_tag post.user, :profile_image, :fill, 60, 60 %></td>
            <td><%= post.user.name %></td>
            <td><%= post.review %></td>
        </tr>
    <% end %>
</table>