<div class="cover-new">
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="font-weight-normal mt-3">レビュー投稿</h1>
        </div>
        <div class="row justify-content-center">
                <%= link_to (image_tag(@book.image_url)), @book.url %><br>
                <%= @book.title %><br>
                <%= @book.author %><br>
                <%= @book.item_caption %><br>   
        </div>
        <div class="row justify-content-center">      
            <%= form_with(url: posts_path , local: true) do |form| %>
            <div class="form-group">
                <label class="form-label">レビュー</label>
                <%= form.hidden_field :isbn, :value => @book.isbn %>
                <%= form.text_field :review, class: "form-control" %>
            </div>
            <!-- 評価 -->
            <div class="form-group row" id="star">
                <%= form.label :rate,'評価 ', class:'col-md-3 col-form-label' %>
                <%= form.hidden_field :rate, id: :review_star %>
            </div>

            <!-- 評価javascript -->
            <script>
            $('#star').raty({
                size     : 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                scoreName: '[rate]',
                half: true,
            });
            </script>  

                <%= form.submit '投稿する', class: "btn btn-success" %>
            <% end %>

        </div>
    </div>  
</div>  
