<h1>レビュー詳細</h1>
<%= link_to (image_tag(@book.image_url)), @book.url %><br>
<%= @book.title %><br>
<%= @book.author %><br>
<%= @book.item_caption %><br>   
<%= @book.isbn %><br> 
<p><%= @post.review %></p>
<% if @post.user == current_user %>
    <%= link_to "編集", edit_post_path(id: @post.id, book_id: @post.book.id), class: "btn btn-info mr-3" %>
    <%= link_to '削除する', post_path(id: @post.id, book_id: @post.book.id),method: :delete, "data-confirm"=>"本当に消しますか？", class: "btn btn-danger mr-3" %>
<% end %>
<%= link_to "タイムラインに戻る", posts_path, class: "btn btn-dark" %>

<div id="favorite_btn_<%= @post.id %>">
    <%= render 'favorites/favorite', post: @post %>
</div>




<p>コメント一覧</p>
<!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
<div id="comments_area">
<!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
<%= render partial: 'comments/index', locals: { comments: @comments, post: @post } %>
</div>

<!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
<%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>