<div class="jumbotron">
    <h1 class="display-4">レビュー詳細!</h1>
    <p class="lead">作品情報・レビュー・いいね・コメントが確認できます！</p>
    <hr class="my-4">
    <%= link_to "タイムラインに戻る", posts_path, class: "btn btn-warning btn-lg text-white" %>
    <% if @post.user == current_user %>
        <%= link_to "編集", edit_post_path(id: @post.id, book_id: @post.book.id), class: "btn btn-info btn-lg ml-1" %>
        <%= link_to '削除', post_path(id: @post.id, book_id: @post.book.id),method: :delete, "data-confirm"=>"本当に消しますか？", class: "btn btn-danger btn-lg ml-1" %>
    <% end %>
</div>

<div class="container">
    <div class="content">
        <div class="card-list">
            <p class="book-image"><%= link_to (image_tag(@book.image_url)), @book.url %></p>
            <p class="book-titler">タイトル：<%= @book.title %></p>
            <hr class="my-３">
            <p class="book-author">著者/編集：<%= @book.author %></p>
            <hr class="my-３">
            <p class="book-publisherName">出版社：<%= @book.publishername %></p>
            <hr class="my-３">
            <p class="book-itemCaption">内容紹介：<%= @book.item_caption %></p>
        </div>
        <div class="card-list">
            <div id="star-rate-<%= @post.id %>"></div>     
            <!-- 評価javascript -->
            <script>
            $('#star-rate-<%= @post.id %>').raty({
                size: 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= @post.rate %>,
            });
            </script>  
                <p><%= @post.review %></p>
            <div class="text-right">
                <div id="favorite_btn_<%= @post.id %>">
                    <%= render 'favorites/favorite', post: @post %>
                </div>
            </div>
            <%# コメントがないときは一覧を表示しない %>
            <!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
            <div id="comments_area">
            <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
            <%= render partial: 'comments/index', locals: { comments: @comments, post: @post } %>
            </div>
            <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
            <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
        </div>  
    </div>    
</div>



