<!DOCTYPE html>
<html>
  <head>
    <title>Librobi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%# <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner"> 
        <div class="container">
          <nav>
          <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li><%= link_to "タイムライン", posts_path, class: "text-black" %></li>
            <li><%= link_to "トレンド", rank_books_path, class: "text-black" %></li>
            <li><%= link_to "ユーザー", users_path, class: "text-black" %></li>
            <li><%= link_to "マイページ", user_path(current_user.id), class: "text-black" %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-black" %></li>
          <% else %>
            <li><%= link_to "新規登録", new_user_registration_path, class: "text-black" %></li>
            <li><%= link_to "ログイン", new_user_session_path, class: "text-black" %></li>
          <% end %>
          </ul>
          </nav>
        </div>
      </div>
    </header> 
    <div id="notices"> 
      <% if notice %>
        <p class="alert alert-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %> 
    </div>
    <div id="search-box">
      <% if user_signed_in? %> 
        <%= form_tag(search_books_path, method: :get) do %>
          <%= text_field_tag :title, @title, placeholder:"タイトルを入力してください。", class: "form-control" %>
          <%= button_tag "検索", class: "form-control btn btn-success" %>
        <% end %>
      <% end %>
    </div>

    <%= yield %>
    <footer>
      <p>Librobi ©︎2022 Yasuda Inc.</p>
    </footer>
  </body>
</html>
