<!DOCTYPE html>
<html>
  <head>
    <title>Librobi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %> 
    
    <% if user_signed_in? %>
      <%= link_to "レビュー投稿", new_post_path %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <%= link_to "投稿一覧", posts_path %></div>
      <%= link_to "マイページ", user_path(current_user.id) %></div>
      <%= link_to "書籍検索", books_search_path %></div>
      <div id="search-box">    
        <%= form_tag(books_search_path, method: :get) do %>
          <%= text_field_tag :title, @title, placeholder:"タイトル・著者・出版社 etc.", class: "form-control" %>
          <%= button_tag "検索", class: "form-control btn btn-success" %>
        <% end %>
        <% if @books.present? %>
          <%= render 'books/book_list' %>
        <% end %>
      </div>
    <% else %>
      <h2 class="btn btn-primary mr-2"><%= link_to "新規登録", new_user_registration_path %></h2>
      <h2 class="btn btn-success ml-2"><%= link_to "ログイン", new_user_session_path %></h2>
    <% end %> 

    <%= yield %>
  </body>
</html>
