<!DOCTYPE html>
<html>
  <head>
    <title>Librobi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
  <div class="body-wrap">
      <header class='header'>
          <div class="link-list">
          <ul>
          <span class="app_tilte"><%= link_to root_path do %><img src="/assets/header.png" alt="logo" id="logo"><% end %></span>
          <% if user_signed_in? %>
            <li><%= link_to "タイムライン", posts_path, class: "text-white" %></li>
            <li><%= link_to "トレンド", rank_books_path, class: "text-white" %></li>
            <li><%= link_to "ユーザー", users_path, class: "text-white" %></li>
            <li><%= link_to "マイページ", user_path(current_user.id), class: "text-white" %></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-white" %></li>
            <% if current_user.admin? %>
              <li><%= link_to "管理者画面", rails_admin_path %></li>
            <% end %>
          <% else %>
            <li><%= link_to "新規登録", new_user_registration_path, class: "text-white" %></li>
            <li><%= link_to "ログイン", new_user_session_path, class: "text-white" %></li>
          <% end %>
          </ul>
          </div>
      </header>

    <div id="notices"> 
      <% if notice %>
        <p class="alert alert-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %> 
    </div>

    <div id="search-box">
      <% if user_signed_in? %>
        <%= form_tag(search_books_path, method: :get) do %>
        <div class="input-group">
          <%= text_field_tag :title, @title, placeholder:"書籍のタイトルを入力してください。", class: "form-control form-control-lg" %>
          <span class="input-group-btn" >
            <%= button_tag "検索", class: "form-control form-control-lg btn btn-warning" %>
          </span>
        </div>
        <% end %>  
      <% end %>
    </div>
    <%= yield %>
    <footer class='footer'>
      <p>Librobi  Create by MY </p>
    </footer>
    </div>
  </body>
</html>
